<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
</head>
<body>
{{>navbar}}
<!-- main header -->



<div class="container-fluid main_header error">
    <div class="row">
        <div class="col-12 mx-auto my-auto">
            <div class="row">

                <div class="col-12 main_header_left align-items-center">
                    <figure class="errimg">
                       <img src="./img/404.png" alt="" class="img-fluid" title="Sarker's Code"> 
                    </figure>
                   
               
                    <p>Welcome to Sarker's Dev World</p>
                    <h1>{{errorMsg}}</h1>


                    <a href="/"><button>Back To Home</button></a>

                </div>
                
            </div>
   
        </div>
    </div>
</div>


<!-- footer code -->
{{>footer}}
 
</body>
</html>