<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
</head>
<body>
{{>navbar}}
<!-- main header -->



<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                <div class="col-md-6 col-12 mx-auto main_header_right align-items-center">
                    <figure>
                       <img src="./img/codeguy.png" alt="" class="img-fluid" title="Sarker's Code"> 
                    </figure>
                   
                </div>

                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Sarker's Dev World</p>
                    <h1>I am a <span>Mern Stack Devloper</span>, Cyclist and a freelancer</h1>


                    <a href="https://github.com/S-A-Sarker" target="_sarker"><button>About Me</button></a>

                </div>
                
            </div>
   
        </div>
    </div>
</div>


<!-- footer code -->
{{>footer}}
 
</body>
</html>